<app-header></app-header>

<div class="container">

  <img src="../../../assets/image/pagamento.png"/>

    <div>
      <h2>FORMAS DE PAGAMENTO</h2>
      <hr id="linha">
    </div>

  <div class="caixa-botoes">
    <button class="btn-pagamento">
      <img src="../../../assets/image/iconeCartao.png" alt="cartão crédito">
      CARTÃO DE CRÉDITO
    </button>
    <button class="btn-pagamento">
      <img src="../../../assets/image/iconeCartao.png" alt="pix">
      CARTÃO DEBITO
    </button>
    <button class="btn-pagamento">
      <img src="../../../assets/image/IconePix.png" alt="pix">
      PIX / QR CODE
    </button>
  </div>

  <div class="quadrado">
    <span>VALOR:</span>
    <h4>2 Ingressos <br> DAY CAMP</h4>
    <span>R$100,00</span>
  </div>

  <button class="btn_finalizar">Finalizar pedido</button>
</div>
