<!-- listagem-eventos.component.html -->
<ngx-spinner
    [fullscreen]="true"
  bdColor="rgba(0,0,0,0.9)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; font-weight: 500;color: white">Buscando Eventos...</p>
</ngx-spinner>
<app-header></app-header>
<div class="content">
    <div class="box-title pt-4">
        <div class="hamburger-menu">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <h3 class="title">EVENTOS</h3>
    </div>

    <div class="list-events d-flex flex-column">
        <div class="event flex-column align-items-center justify-content-center" 
             *ngFor="let event of listEvents" 
             >
            <div class="image-description d-flex align-items-center">
                <img 
                    *ngIf="event.arquivo"
                    [src]="'data:image/jpeg;base64,' + event.arquivo" 
                    [alt]="event.descricao"
                    (click)="redirecionaEvento(event.id)"
                    class="event-image"> 
                </div>
                <div class="event-info">
                    <h3>{{event.nome}}</h3>
                    <div class="event-info">
                        <h5>{{event.data}}</h5>
                    </div>
                    <button (click)="redirecionaEvento(event.id)">Saiba mais</button>
                </div>
            </div>
        </div>
    </div>
    <button (click)="redirecionaCriarEvento()">Criar Evento</button>
<ng-toast [width]="600" [position]="ToasterPosition.TOP_CENTER" />