<app-header></app-header>

<div class="content">
    <div class="box-title pt-4">
        <div class="hamburger-menu">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <h3 class="title">EVENTOS</h3>
    </div>

    <div class="list-events d-flex flex-column">
        <div class="event d-flex align-items-center justify-content-center" 
        *ngFor="let event of listEvents" 
        (click)="redirecionaEvento(event.id)">
            <div class="image-description d-flex align-items-center mx-1">
                <img *ngIf="event.arquivo" 
                     [src]="'data:image/jpeg;base64,' + event.arquivo" 
                     [alt]="event.descricao">
                <h4>{{event.nome + ' | ' + event.descricao}}</h4>
            </div>
            <div class="status mx-4">
                <h4>{{event.data}}</h4>
            </div>
        </div>
    </div>
</div>
<button (click)="redirecionaCriarEvento()">Criar Evento</button>
