<div class="home-form">
  <form >
    <div class="caixa-titulo">
      <h1>Crie uma conta</h1>
      <hr id="linha">
    </div>

    <p>Preencha os campos abaixo</p>
    <span>Digite seu Nome completo:</span>
    <input type="text">

    <span>Digite seu CPF:</span>
    <input type="text">

    <span>Digite seu E-mail:</span>
    <input type="text">

    <span>Confirme seu E-mail:</span>
    <input type="text">

    <span>Data de Nascimento:</span>
    <input type="date">

    <span>Telefone:</span>
    <input type="text">

    <div class="container-button">
      <button>Continuar</button>
    </div>
  </form>
</div>
