<div class="home-form">
  <form  [formGroup]="form" (ngSubmit)="enviaFormulario()">
    <p>Preencha os campos abaixo</p>

    <label for="nome_completo">Digite seu Nome completo:</label>
    <input type="text" id="nome_completo" formControlName="nome_completo">
    @if(form.get('nome_completo').hasError('required') && form.get('nome_completo').touched) {
      <div>
        <span class="error-message">
          Nome completo é obrigatório.
        </span>
      </div>
    }


    <label for="cpf">Digite seu CPF:</label>
    <input type="text" id="cpf" formControlName="cpf">
    @if(form.get('cpf').hasError('required') && form.get('cpf').touched) {
      <div>
        <span class="error-message">
          CPF é obrigatório.
        </span>
      </div>
    }

    <label for="email">Digite seu E-mail:</label>
    <input type="text" id="email" formControlName="email">

    @if(form.get('email').hasError('required') && form.get('email').touched) {
      <div>
        <span class="error-message">
          E-mail é obrigatório.
        </span>
      </div>
    }

    @if(form.get('email').hasError('email')) {
      <div>
        <span class="error-message">
          Formato de email inválido
        </span>
      </div>
    }


    <label for="confirmar_email">Confirme seu E-mail:</label>
    <input type="text" id="confirmar_email" formControlName="confirmar_email">

    @if(form.get('confirmar_email').hasError('required') && form.get('confirmar_email').touched) {
      <div>
        <span class="error-message">
          Confirmação de email obrigatória
        </span>
      </div>
    }

    @if(form.get('confirmar_email').hasError('emailsNaoCoincidem')) {
      <div>
        <span class="error-message">
          Os emails não coincidem
        </span>
      </div>
    }

    <span>Data de Nascimento:</span>
    <input type="date">

    <span>Telefone:</span>
    <input type="text">

    <div class="container-button">
      <button type="submit">Continuar</button>
    </div>
  </form>
</div>
