<div class="home-form">
  <form
    name="form"
    #f="ngForm"
    (ngSubmit)="f.form.valid && onSubmit()">
    <div class="caixa-titulo">
      <h1>Crie uma conta</h1>
      <hr id="linha">
    </div>

    <p>Preencha os campos abaixo</p>

    <!-- campo nome -->

    <span for="fullname">Digite seu Nome completo:</span>
    <input type="text"
    name="fullname"
    [(ngModel)]="form.fullname"
    required
    #fullname="ngModel">

    <!-- div de errors -->
    <div *ngIf="f.submitted && fullname.errors" class="invalid-feedback">
      O campo nome é obrigatório!
    </div>

    <!-- campo CPF -->

    <span for="cpf">Digite seu CPF:</span>

    <input type="number"
    class="form-control"
    name="cpf"
    [(ngModel)]="form.cpf"
    required
    minlength="11"
    maxlength="11"
    #cpf="ngModel">

    <div *ngIf="f.submitted && cpf.errors" class="invalid-feedback">
      <div *ngIf="cpf.errors['required']"> o campo cpf é obrigatório!</div>
      <div *ngIf="cpf.errors['minlength']">
        o campo cpf precisa dos 11 characters
      </div>
    </div>

    <!-- campo email -->

    <span for="email" >Digite seu E-mail:</span>
    <input type="email"
    name="email"
    [(ngModel)]="form.email"
    required
    #email="ngModel">

    <div *ngIf="f.submitted && email.errors" class="invalid-feedback">
      o campo email é obrigatório!
    </div>

    <!-- campo Confirmação do email -->

    <span for="emailConfirm">Confirme seu E-mail:</span>
    <input type="email"
    name="confirmEmail"
    [(ngModel)]="form.confirmEmail"
    required
    #confirmEmail="ngModel"
    required>

    <div *ngIf="f.submitted && confirmEmail.errors" class="invalid-feedback">
      Os emails são diferentes!
    </div>

    <!-- campo data de nascimento -->

    <span for="date" required>Data de Nascimento:</span>
    <input type="date"
    name="dateBirthDay"
    [(ngModel)]="form.dateBirthDay"
    required
    #dateBirthDay="ngModel"
    required>

    <div *ngIf="f.submitted && dateBirthDay.errors" class="invalid-feedback">
      o campo data de nascimento é obrigatório!
    </div>

     <!-- campo telefone-->

    <span for="phone" required>Telefone:</span>
    <input  type="text"
    class="form-control"
    name="username"
    [(ngModel)]="form.phone"
    required
    minlength="11"
    maxlength="11"
    #phone="ngModel">

    <div *ngIf="f.submitted && phone.errors" class="invalid-feedback">
      <div *ngIf="phone.errors['required']"> o campo telefone é obrigatório! </div>
      <div *ngIf="phone.errors['minlength']">
        o campo telefone precisa dos 11 characters
      </div>
    </div>

    <div class="container-button">
      <button type="submit" >Continuar</button>
    </div>
  </form>
</div>
