.content {
    display: flex;
    flex-direction: column;
    color: rgb(0, 0, 0);
    background-color: rgb(241, 241, 241);
    height: 89.1vh;
    overflow-y: auto; 
}

.evento-image {
  width: 100vw; 
  height: 24vh; 

  object-fit: cover; 
  max-width: 100%; 
  max-height: 100%; 
  display: block; 
}


.descricao-evento {
    margin-top: 1.4rem;
    display: flex;
    justify-content: center;
    text-align: center;
    text-decoration: solid;
    flex-direction: column;

    h1 {
        font-weight: bold;
    }

    .linha {
        margin-top: -1px;
        color: white;
        border-color: white;
    }
}

.linhaIngresso {
    margin-top: -0.2rem;
    border-color: rgb(158, 158, 158);
    margin-left: 10%;
    margin-right: 10%;
}

.adquira {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 1rem;
}

.data-evento {
    display: flex;
    justify-content: center;
    text-align: center;
}

.data-evento h4 {
    border: solid rgb(87, 87, 87) 1px;
    border-radius: 5px;
    padding: 10px;
}

.valor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    span {
        font-weight: 600;
    }

    p {
        font-style: italic;
    }
}

.localizacao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 2rem;

    span {
        font-weight: 600;
    }
}

.descricao-do-evento {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 1rem;
    max-width: 96vw;

    span {
        font-weight: 600;
    }

    p {
        font-weight: 500;
    }
}

.accordion {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px 0;
  }
  
  .accordion-item {
    border-bottom: 1px solid #ccc;
  }
  
  .accordion-header {
    background: #f7f7f7;
    padding: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.3s ease;
  }
  
  .accordion-header:hover {
    background: #e0e0e0;
  }
  
  .accordion-content {
    padding: 5px;
    background: #fff;
    display: block;
  }

#checkoutValue {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    
    
    button {
            margin-top: -0.5rem;
            margin-bottom: 1rem;
        }
    }

#radios {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: center;
}

#checkoutDiv {
    background-color: white;
}

#ticketImage {
    background-image: url("../../../assets/image/vecteezy_sticker-ticket-bullet-journal-line-art_15440111.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
    width: 100vw;
}

#checkoutButton {
    padding: 5px;
    width: 13rem;
    height: 2.7rem;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    background-color: rgb(85, 190, 85);
}

#addIngressButton {
    padding: 5px;
    width: 13rem;
    height: 2.7rem;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    background-color: rgb(85, 190, 85);
    margin: 1rem;
}

#addIngressButton:disabled {
    padding: 5px;
    width: 13rem;
    height: 2.7rem;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    background-color: rgb(231, 231, 231);
    margin: 1rem;
}