<app-header></app-header>

<div class="content" *ngIf="evento">
  <img *ngIf="evento.arquivo" [src]="'data:image/jpeg;base64,' + evento.arquivo" [alt]="evento.descricao"
    class="evento-image">

  <div class="descricao-evento">
    <h1>{{ evento.nome }}</h1>
    <hr class="linha">
  </div>
  <div class="adquira">
    <h3>ADQUIRA SEU INGRESSO</h3>
  </div>

  <div class="info-evento">
    <div class="valor">
      <span>Valor</span>
      <div *ngIf="eventoIsGratuito(evento.valor)">
        <h1>Evento Gratuito!</h1>
      </div>
      <div *ngIf="!eventoIsGratuito(evento.valor)">
        <h1>{{ evento.valor | currency: 'BRL' }}</h1>
        <p>Quantidade de Ingressos: {{ quantidadeIngressos }}</p>
        <p>Total: {{ (evento.valor * quantidadeIngressos) | currency: 'BRL' }}</p>
        <app-botao-verde [descricao]="descricaoBotao" (newItemEvent)="adicionarIngresso()"></app-botao-verde>
      </div>
    </div>
    <hr class="linha">

    <div class="descricao-do-evento">
      <span>O Que é?</span>
      <p>{{evento.descricao}}</p>
    </div>

    <div class="localizacao">
      <span>Onde?</span>
      <h3>{{evento.localizacao}}</h3>
    </div>
  </div>
</div>

<div *ngIf="!evento">
  <p>Carregando evento...</p>
</div>
