
.content {
  display: flex;
  flex-direction: column;
  color: rgb(0, 0, 0);
  background-color: white;
  height: 89.1vh;
  overflow-y: auto;
}

.info-evento {
  display: flex;
  flex-direction: column;
  justify-content: center;
  // align-items: center;
  padding: 0 20px;
  text-align: center;
}
.evento-image {
  width: 100vw;
  height: 24vh;

  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
  display: block;
}

.descricao-evento {
  margin-top: 1.4rem;
  display: flex;
  justify-content: center;
  text-align: center;
  text-decoration: solid;
  flex-direction: column;

  h1 {
    font-weight: bold;
  }

  .linha {
    margin-top: -1px;
    color: white;
    border-color: white;
  }
}

.linhaIngresso {
  margin-top: -0.2rem;
  margin-left: 10%;
  margin-right: 10%;
}

.adquira {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-top: 1rem;
}
.adquira h3 {
  font-size: 1.7rem;
  font-weight: 600;
}

.data-evento {
  display: flex;
  justify-content: center;
  text-align: center;
}

.data-evento h4 {
  border-radius: 5px;
  padding: 10px;
}

.valor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  // align-items: center;
  text-align: center;

  .valor-texto {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    // width: 80%;
    span {
      font-weight: 500;
      font-size: 1.3rem;
      width: 50%;
      text-align: left;
      padding: 1px 0;
    }

    p {
      font-style: italic;
    }
    h1 {
      font-size: 1.3rem;
      width: 50%;
      text-align: right;
      padding: 1px 0;
    }
  }
}

.error-message {
    font-weight: 600;
}

.localizacao {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 1rem;
  text-align: left;

  span {
    font-weight: 600;
    font-size: 1.3rem;
  }
  p {
    font-weight: 500;
    font-size: 1rem;
  }
}

.descricao-do-evento {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 1rem;
  text-align: left;

  span {
    font-weight: 600;
    font-size: 1.3rem;
  }
  p {
    font-weight: 500;
    font-size: 1rem;
  }
}

.accordion {
  border-radius: 3px;
  border: solid 0.2px #000;
  margin: 0.625rem 0;
  padding: 0.625rem;
  gap: 2rem;
  display: flex;
  flex-direction: column;
}

.accordion-item {
  border: none;
}

.accordion-header {
  cursor: pointer;
  //   font-weight: bold;
  text-align: left;
  transition: background 0.3s ease;
  font-size: 1.5rem;
}

.item-accordion {
  display: flex;
  align-items: center;
  justify-content: space-between;

  a {
    text-decoration: underline !important;
    text-decoration-color: rgb(180, 180, 180) !important;
    font-weight: 400;
    align-content: end;
  }
}

.accordion-header:hover {
  background: #d4d4d491;
}

.accordion-content {
  padding: 5px 0;
  background: #fff;
  display: block;
}

input {
  width: 100%;
  padding: 10px;
  border-radius: 3px;
  border: solid 0.2px #000;
  margin: 6px 0;
  font-weight: 500;
}

input::placeholder {
  color: rgb(97, 97, 97);
  font-weight: 500;
}

#checkoutValue {
  display: flex;
  flex-direction: column;
//   justify-content: center;
  align-items: center;

  span{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    font-size: 1.4rem;
    font-weight: 500;
  }
  span p{
    font-weight: 600;
  }

  button {
    margin-top: -0.5rem;
    margin-bottom: 1rem;
  }
}

#radios {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.left-size,
.right-size {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.custom-radio input[type="radio"] {
  display: none;
}

.custom-radio {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 1rem;

  label {
    color: black;
    font-weight: 500;
  }
}

.custom-radio .radio-box {
  width: 20px;
  height: 20px;
  border: 1px solid #000;
  display: inline-block;
  margin-right: 10px;
  border-radius: 3px;
  position: relative;
}

.custom-radio input[type="radio"]:checked + .radio-box::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background-color: #000000;
  position: relative;
  border-radius: 3px;
  border: none;
}

#checkoutDiv {
  background-color: white;
}

#ticketImage {
//   background-image: url("../../../assets/image/fundo-ingresso.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  text-align: left;

  label {
    font-weight: 500;
  }
}

#checkoutButton {
    cursor: pointer;
    color: white;
    margin: 1rem;
    width: 100%;
    padding: 10px;
    border-radius: 3px;
    border: solid 0.2px #000;
    margin: 6px 0;
    margin: 17px 0;
    background-color: rgb(0, 0, 0);
    font-weight: 500;
}

#addIngressButton {
  cursor: pointer;
  color: white;
  margin: 1rem;
  width: 100%;
  padding: 10px;
  border-radius: 3px;
  border: solid 0.2px #000;
  margin: 6px 0;
  margin: 17px 0;
  background-color: rgb(0, 0, 0);
  font-weight: 500;
}

#addIngressButton:disabled {
  border: solid 0.2px #6969695b;
  color: rgb(87, 87, 87);
  box-shadow: none;
  background-color: rgb(201, 201, 201);
}

#eventLoading {
    width: 100vw;
    height: 100vh;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    p {
        font-weight: 700;
    }
}
