<div class="content" *ngIf="evento">
  <img *ngIf="evento.arquivo" [src]="'data:image/jpeg;base64,' + evento.arquivo" [alt]="evento.descricao"
    class="evento-image">

  <div class="adquira">
    <h3>ADQUIRA SEU INGRESSO</h3>
  </div>
  <hr class="linhaIngresso">

  <div class="info-evento">
    <div class="valor">
      <span>Valor</span>
      <div *ngIf="eventoIsGratuito(evento.valor)">
        <h1>Evento Gratuito!</h1>
      </div>
      <div *ngIf="!eventoIsGratuito(evento.valor)">
        <h1>{{ evento.valor | currency: 'BRL' }}</h1>
        <p>{{ quantidadeIngressos }} Ingressos</p>
        <p>Adicionar mais ingressos</p>
        <app-botao-verde [descricao]="descricaoBotao" (newItemEvent)="adicionarIngressos()"></app-botao-verde>

        <div class="accordion">
          <div class="accordion-item" *ngFor="let ingresso of ingressos; let i = index">
            <h5 (click)="toggleAccordion('item' + i)" class="accordion-header">
              Ingresso {{ i + 1 }} <img style="width: 20px;" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAvklEQVR4nO3RwQqDMBCE4aGHYt92j75XD7ZPZxEUSsCmarKZ1flhbznMRwCllFJKKeXZDSfYeAfwBNCDNwPwAvDIIcb5elLEON97DZNC2DCWbJsg3dpjVoxtQbBibA+CDWNHECwYK4FojbGSiFYYq4HwxlhNhBfGBVEb44qohWmCKI1piiiFoUAcxVAh9mIoEVsx1Ih/MSEQOUwoxNI0cEiGf98QAfHrZ8L8RA4TEpFiQiOWujMglFJKKaWu3AfcdLEudXvTswAAAABJRU5ErkJggg==">
            </h5>
            <div *ngIf="isAccordionOpen['item' + i]" class="accordion-content">
              <p>Insira os dados</p>
              <form [formGroup]="form" (ngSubmit)="emitCheckout()">

                <label for="nome">Digite seu nome:</label><br />
                <input type="text" id="nome" formControlName="nome" /><br />
                @if(form.get('nome').hasError('required') && form.get('nome').touched) {
                <div>
                  <span class="error-message">
                    O campo nome precisa ser preenchido.
                  </span>
                </div>
                }
                <label for="cpf">Digite seu cpf:</label><br />
                <input type="text" id="cpf" formControlName="cpf" /><br />
                @if(form.get('cpf').hasError('required') && form.get('cpf').touched) {
                <div>
                  <span class="error-message">
                    O campo cpf precisa ser preenchido.
                  </span>
                </div>
                }
                <label for="email">Digite seu email:</label><br />
                <input type="text" id="email" formControlName="email" /><br />
                @if(form.get('email').hasError('required') && form.get('email').touched) {
                <div>
                  <span class="error-message">
                    O campo e-mail precisa ser preenchido.
                  </span>
                </div>
                }
                <label for="telefone">Digite seu telefone:</label><br />
                <input type="text" id="telefone" formControlName="telefone" /><br />
                @if(form.get('telefone').hasError('required') && form.get('telefone').touched) {
                <div>
                  <span class="error-message">
                    O campo telefone precisa ser preenchido.
                  </span>
                </div>
                }
                <div id="radios">
                  <input type="radio" formControlName="tipo" id="tipo" name="tipo" value="Membro" checked>
                  <label for="tipo">Membro</label>

                  <input type="radio" formControlName="tipo" id="tipo" name="tipo" value="Batizante">
                  <label for="tipo">Batizante</label>

                  <input type="radio" formControlName="tipo" id="tipo" name="tipo" value="Convidado">
                  <label for="tipo">Convidado</label>

                  <input type="radio" formControlName="tipo" id="tipo" name="tipo" value="Outro">
                  <label for="tipo">Outro</label>
                </div>
                <button type="submit" [disabled]="form.invalid" [ngClass]="{'disabled': !form.valid}">Ok</button>
              </form>
            </div>
          </div>
          <div id="checkoutValue">
            <h5>Total: {{ calcularValorTotal() | currency: 'BRL' }}</h5>
          </div>
        </div>
      </div>
    </div>

    <div class="descricao-do-evento">
      <span>O Que é?</span>
      <p>{{evento.descricao}}</p>
    </div>

    <div class="localizacao">
      <span>Onde?</span>
      <h3>{{evento.localizacao}}</h3>
    </div>
  </div>
</div>

<div *ngIf="!evento">
  <p>Carregando evento...</p>
</div>