<div class="content">
  <h3>LOGIN</h3>
  <form action="">
    <label for="login">Digite seu E-mail ou CPF:</label><br />
    <input type="text" id="login" name="login" /><br />
    <label for="senha">Digite sua senha:</label><br />
    <input type="text" id="senha" name="senha" />

    <span class="senha">Esqueceu sua senha?</span>

    <button type="button" class="btn btn-dark">Login</button>
  </form>
  <img
    src="../../../assets/logo-ibf.svg"
    alt="logo da ibf, uma biblia em cima das siglas ibf"
  />
</div>
