.home-form{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1{
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 2.3rem;
  font-weight: 300;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}
