.home-form{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p{
  font-weight: 300;
  font-size: 2rem;
  padding: 0;
}

h1{
  font-size: 2.5rem;
  font-weight: 300;
}
