.container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

}

h1{
  text-align: center;
  font-size: 2.3rem;
  font-weight: 300;
  padding-top: 1rem;

}

#linha{
  width: 16rem;
  opacity: 0.3;
}
