<app-header></app-header>

<div class="conatainer">

  <!-- quando apertar o enter exibir lista -->
  <div class="buscar">
    <img src="../../../assets/image/busca.png" alt="icone para sugerir pesquisas">
    <input type="text" id="inputBusca">
  </div>
  <!-- condição para aparecer -->
  <ol>
    <li>
      <app-reserva></app-reserva>
    </li>
    <li>
      <app-reserva></app-reserva>
    </li>
    <li>
      <app-reserva></app-reserva>
    </li>
    <li>
      <app-reserva></app-reserva>
    </li>
  </ol>
</div>
