<app-header></app-header>

<div class="conatainer">

  <!-- quando apertar o enter exibir lista -->
  <!-- caixa de busca -->
  <div class="buscar">
    <img src="../../../assets/image/busca.png" alt="icone para sugerir pesquisas">
    <!-- usando o onkeypress -->
    <input type="text" id="inputBusca" placeholder="Busque a reserva">
  </div>
  <!-- condição para aparecer -->
  <ol hidden>
    <li>
      <app-reserva></app-reserva>
    </li>
    <li>
      <app-reserva></app-reserva>
    </li>
    <li>
      <app-reserva></app-reserva>
    </li>
    <li>
      <app-reserva></app-reserva>
    </li>
  </ol>
</div>
