<app-header></app-header>

<div class="conatainer">
  <!-- quando apertar o enter exibir lista -->
  <!-- caixa de busca -->
  <section class="buscar">
    <!-- usando o onkeypress -->

    <form>
      <input
        type="text"
        id="inputBusca"
        placeholder="Busque a reserva"
        #filterInput
      />
      <button
        class="primary"
        type="button"
        (click)="filterResults(filterInput.value)"
      >
        Buscar
      </button>
    </form>
  </section>
  <!-- condição para aparecer -->
  <section class="results">
    <app-reserva
      *ngFor="let reserva of filteredReserva"
      [reserva]="reserva">
    </app-reserva>
  </section>
</div>
