<div class="container">
  <app-header></app-header>

  <!-- aqui vou colocar o loader -->
  <app-loader-form  [width]="porcentagemLargura"></app-loader-form>

  <div class="caixa-titulo">
    <h1>Crie uma conta</h1>
    <hr id="linha">
  </div>

  <div class="home-form">
    <form  [formGroup]="form" (ngSubmit)="enviaFormulario()">
      <p>Preencha com o seu endereço:</p>
  
      <label for="rua">Rua:</label>
      <input type="text" id="rua" formControlName="rua">
      @if(form.get('rua').hasError('required') && form.get('rua').touched) {
        <div>
          <span class="error-message">
            O campo rua precisa ser preenchido.
          </span>
        </div>
      }
  
  
      <label for="numero">Número:</label>
      <input type="text" id="numero" formControlName="numero">
      @if(form.get('numero').hasError('required') && form.get('numero').touched) {
        <div>
          <span class="error-message">
            O campo numero precisa ser preenchido.
          </span>
        </div>
      }
  
      <label for="complemento">Complemento:</label>
      <input type="text" id="complemento" formControlName="complemento">

      <label for="cep">Cep:</label>
      <input type="text" id="cep" formControlName="cep">
      @if(form.get('cep').hasError('required') && form.get('cep').touched) {
        <div>
          <span class="error-message">
            O campo cep precisa ser preenchido.
          </span>
        </div>
      }
  
      <div class="container-button">
        <button type="submit" [disabled]="form.invalid" [ngClass]="{'disabled': !form.valid}">Continuar</button>
      </div>
    </form>
  </div>
  
</div>


