<div class="home-form">
  <form
   name="form"
   #f="ngForm"
   (ngSubmit)="f.form.valid && onSubmit()">

    <p>Preencha com o seu endereço:</p>

    <!-- campo senha -->

    <span for="password">Senha:</span>
    <input type="password"
    name="password"
    [(ngModel)]="form.password"
    #password="ngModel"
    minlength="8"
    maxlength="9"
    required/>

    <!-- validação senha -->

    <div *ngIf="f.submitted && password.errors" class="invalid-feedback">
      <div *ngIf="password.errors?.['required']">O campo senha é obrigatório!</div>
      <div *ngIf="password.errors?.['minlength']">a senha precisa ter no mínimo 8 caracteres</div>
    </div>

    <span for="confirmPassword">Confirmar Senha:</span>
    <input type="password"
    name="confirmPassword"
    [(ngModel)]="form.confirmPassword"
    #confirmPassword="ngModel"
    minlength="8"
    maxlength="9"
    required/>

    <div *ngIf="f.submitted && confirmPassword.errors" class="invalid-feedback">
      <div *ngIf="confirmPassword.errors?.['required']">O campo confirmação de senha é obrigatório!</div>
      <div *ngIf="confirmPassword.value !== password.value" class="invalid-feedback">
        As senhas não coincidem.
      </div>
    </div>

    <div class="checkbox">
      <div class="membro">
        Você é um membro?
        <input type="checkbox"
        name="member"
        [(ngModel)]="form.member"
        (ngModelChange)="updateMemberValue($event)">
      </div>
    </div>

    <div class="container-button">
      <button>Cadastrar</button>
    </div>
  </form>
</div>
