<div class="home-form">
  <form
    name="form"
    #f="ngForm"
    (ngSubmit)="f.form.valid && onSubmit()">

    <p>Preencha os campos abaixo</p>

    <!-- campo zip code -->

    <span for="zipcode">Cep:</span>

    <input type="text"
    class="form-control"
    mask="00000-000"
    name="zipcode"
    [(ngModel)]="form.zipcode"
    required
    minlength="8"
    maxlength="9"
    #zipcode="ngModel">

    <!-- validação zip code -->

    <div *ngIf="f.submitted && zipcode.errors" class="invalid-feedback">
      <div *ngIf="zipcode.errors['required']"> o campo CEP é obrigatório!</div>
      <div *ngIf="zipcode.errors['minlength']">
        o campo zipcode precisa dos 8 characters
      </div>
    </div>

    <!-- campo numero -->

    <span for="number" >Número:</span>
    <input type="number"
    name="number"
    [(ngModel)]="form.number"
    required
    #number="ngModel">

     <!-- validação number -->

    <div *ngIf="f.submitted && number.errors" class="invalid-feedback">
      o campo numero é obrigatório!
    </div>

    <!-- campo Complemento -->

    <span for="complement">Complemento:</span>
    <input type="complement"
    name="complement"
    [(ngModel)]="form.complement"
    #complement="ngModel"
    >

    <div class="container-button">
      <button type="submit">Continuar</button>
    </div>
  </form>
</div>


