<div class="ticket">
  <div class="tickets">
    <div class="numero-ticket">
      <span>{{reserva.codigo}}</span>
    </div>

    <!-- ativa com um clique -->

    <div class="qrcode">
      <span>{{ reserva.pago| statusPagamento }}</span>
      <!-- <div class="carrossel">
        <i>
          <img src="../../../assets/image/seta-esquerada.png" alt="">
        </i>
        <img [src]="reserva.qrcode" alt="qrcode">
        <i>
          <img src="../../../assets/image/seta-direita.png" alt="">
        </i>
      </div> -->
      <h4>Status do Pago</h4>
    </div>
  </div>
</div>
