<app-header></app-header>
<div *ngIf="ingressos">
  <h1>Checkout</h1>
  <h1>Codigo: #{{ ingressos.id }}</h1>
  <h2>Total: {{ ingressos.total | currency: 'BRL' }}</h2>
  <h2>Pago: {{ingressos.pago}}</h2>
  <ul>
    <li *ngFor="let ticket of ingressos.tickets">
      <p>Nome: {{ ticket.nome }}</p>
      <p>CPF: {{ ticket.cpf }}</p>
      <p>Email: {{ ticket.email }}</p>
      <p>Telefone: {{ ticket.telefone }}</p>
      <p>Tipo: {{ ticket.tipo }}</p>
      <br>
      <br>
    </li>
  </ul>
</div>
<div *ngIf="!ingressos">
  <p>Nenhum ingresso encontrado.</p>
</div>
