<app-header></app-header>
<div *ngIf="ingressos" class="mainDiv">
  <div class="divSuccess">
    <h3>Reserva feita com sucesso!</h3>
    <h1>Codigo: #{{ ingressos.codigo }}</h1>
    <h2>Total: {{ ingressos.total | currency : "BRL" }}</h2>
    <h2>Status: {{ ingressos.pago ? "Pago" : "Pagamento Pendente" }}</h2>
  </div>
  <div class="ingressosTitle">
    <h2>Ingressos</h2>
  </div>
  <div class="box-ingress">
    <ul>
      <li *ngFor="let ticket of ingressos.tickets">
        <p>Nome: <span>{{ ticket.nome }}</span></p>
        <p>CPF: <span>{{ ticket.cpf }}</span></p>
        <p>Email: <span>{{ ticket.email }}</span> </p>
        <p>Telefone: <span>{{ ticket.telefone }}</span></p>
        <p>Tipo: <span>{{ ticket.tipo }}</span></p>
      </li>
    </ul>
  </div>
</div>
<div *ngIf="!ingressos">
  <p>Nenhum ingresso encontrado.</p>
</div>
