<div class="content">
    <div class="form">
        <form action="">
            <label for="">Nome: </label>
            <br>
            <input id="input-name" type="text">
            <div class="d-flex">
                <label for="ageOverTen">Maior de 10 anos?</label><br>
                <input type="checkbox" id="ageOverTen" name="ageOverTen" value="">
        
                <label for="ibfMember">Maior de 10 anos?</label><br>
                <input type="checkbox" id="ibfMember" name="ibfMember" value="">
            </div>
            <div class="form-footer">
                <button class="btn-adicionar">Adicionar</button>
            </div>
            
        </form>
    </div>
    
</div>
